@model PersonModel


<h1>@Model.Name</h1>
<p class="person-born">Born: @Model.Born</p>

<div class="person-filmography">
    <h2>Filmography</h2>
    <ul>
        @foreach (var movie in Model.Movies)
        {
            <li><a href="@Url.Action("Index", "Movie", new { id = movie.Title })">@movie.Title (@movie.Released)</a></li>
        }
    </ul>
</div>